h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #3C2A21;
}

.container-edit {
    display: grid;
    place-items: center;
    color: #3C2A21;
}

span {
    font-weight: bolder;
}

.formulario {
    display: flex;
    margin-top: 20px;
}

.group-labels {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-weight: bolder;
}

.group-inputs {
    display: flex;
    flex-direction: column;
}

.campo-label {
    margin-bottom: 10px;
}

.campo-input {
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #3C2A21;
    color: #3C2A21;
    background-color: #E5E5CB;
    border-radius: .5em;
    font-size: medium;
}

.campo-input:focus {
    outline: none;
}

.button {
    position: relative;
    background-color: #3C2A21;
    border: none;
    border-radius: .5em;
    color: #E5E5CB;
    padding: 1em;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.edit {
    margin-right: 10px;
}
